<div class="">
  
  <div class="">
  
      <!-- <p class="h3">Crea tu negocio</p> -->
      
      <form [formGroup]="formNegocio" (submit)="onSubmit()" novalidate class="row gx-3 gx-md-4">
  
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Nombre del negocio</mat-label>
          <input matInput type="text" formControlName="nombre">
          <!-- <mat-hint>url: https://taaripay.com/{{negocioId}}</mat-hint> -->
          <mat-error *ngIf="errorNombreNegocio()">{{errorNombreNegocio()}}</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>{{hrefCurrent}}/</mat-label>
          <!-- <span matPrefix></span> -->
          <input matInput type="text" formControlName="id">
          <mat-error *ngIf="errorId()">{{errorId()}}</mat-error>
          <!-- <textarea matInput formControlName="id"></textarea> -->
        </mat-form-field>
  
        <!-- <mat-form-field appearance="fill" class="col-12">
          <mat-label>Url</mat-label>
          <input matInput type="text" formControlName="id">
        </mat-form-field> -->

        <mat-form-field appearance="fill">
          <mat-label>País</mat-label>
          <mat-select formControlName="pais">
            <mat-option *ngFor="let pais of paises" [value]="pais.nombre">{{pais.nombre}}</mat-option>
          </mat-select>
          <mat-error *ngIf="errorPais()">{{errorPais()}}</mat-error>
        </mat-form-field>

        <div class="d-flex gap-2 gap-md-3">

          
            <mat-form-field appearance="fill" style="width: 72px !important">
              <mat-label>Prefijo</mat-label>
              <mat-select formControlName="prefijo">
                <mat-option *ngFor="let pais of paises" [value]="pais.prefijo">+{{pais.prefijo}}</mat-option>
              </mat-select>
            </mat-form-field>
          

          
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Número</mat-label>
              <input matInput type="number" formControlName="numeroWhatsApp" placeholder="999999999">
              <mat-error *ngIf="errorWhatsApp()">{{errorWhatsApp()}}</mat-error>
            </mat-form-field>

        </div>

      
  
        <!-- <mat-form-field appearance="fill" class="col-12">
          <mat-label>Dirección (opcional)</mat-label>
          <input matInput type="text" formControlName="direccion">
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Rubro (opcional)</mat-label>
          <input type="text" placeholder="Pick one" matInput formControlName="tipo" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
  
  
        <!-- <div class="d-flex justify-content-between align-items-center my-3">
          <p class="mb-0">Elige un color (opcional)</p>
          <span class="rounded-circle border border-4 border-white shadow">
            <button  [style.background-color]="color" type="button" mat-icon-button (click)="openModalCrearColor()">
              <i-tabler name="palette" class="text-white"></i-tabler>
            </button>
          </span>
        </div> -->
      
  
        <div class="d-grid mt-2">
          <button class="btn btn-primary">
            <span class="d-flex justify-content-center myColorSpinnerWhite" *ngIf="loading">
              <mat-spinner class="" [diameter]="24"></mat-spinner>
            </span>
            <span *ngIf="!loading">Crear Negocio</span>
          </button>
        </div>
  
      </form>
  
      <!-- <pre>{{formNegocio.value | json}}</pre> -->
  
  </div>

</div>