rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /negocios/{negocio} {
      allow read, write;
    }
    match /suscripciones/{suscripcion} {
      allow read, write;
    }
    match /users/{user} {
      allow read, write;
    }
  }
}