<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<mat-sidenav-container class="w-100" [ngClass]=" sidenav.opened ? 'position-fixed' : 'positions-relative' ">

  <mat-sidenav class="boxMenu" [fixedInViewport]="true" #sidenav mode="over" position="end" [autoFocus]="false">
    <app-menu [user]="user"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>
