<div class="container py-3">
  <p class="h3">Productos</p>

  <mat-tab-group>
    <mat-tab [label]="group.categoria" *ngFor="let group of itemsGroup">
      <div class="grillaItems py-3 px-2">
        <app-card-item *ngFor="let item of group.items" [idNegocio]="id" [item]="item"></app-card-item>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- <nav mat-tab-nav-bar tabPanel="tabPanel">
    <a mat-tab-link *ngFor="let link of itemsGroup" (click)="activeLink = link.categoria" [active]="activeLink == link.categoria"> {{link.categoria}}</a>
  </nav>
  <mat-tab-nav-panel #tabPanel>1</mat-tab-nav-panel>
  <mat-tab-nav-panel #tabPanel2>2</mat-tab-nav-panel> -->

  <!-- <mat-accordion [multi]="true">
    <mat-expansion-panel *ngFor="let group of itemsGroup; let i = index" expanded="i">
      <mat-expansion-panel-header>
        <p class="h4 fw-light mb-0">{{group.categoria}}</p>
      </mat-expansion-panel-header>
      <div class="grillaItems ps-3">
        <app-card-item *ngFor="let item of group.items" [idNegocio]="id" [item]="item"></app-card-item>
      </div>
    </mat-expansion-panel>
  </mat-accordion> -->

</div>