<div class="pt-2">

  <div class="buttonClose">
    <button mat-icon-button (click)="cancelar()">
      <i-tabler class="text-primary" name="x"></i-tabler>
    </button>
  </div>


  


  <div class="" *ngIf="form">

    <p class="lead">Recuperar contraseña</p>
    <p class="small text-muted">Te enviaremos un enlace a tu correo con las instrucciones para actualizar tu contraseña.</p>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Ingresa tu email" [formControl]="email">
    </mat-form-field>

    <div class="d-grid">
      <button class="btn btn-primary" (click)="onSubmit()">
        <span class="spinnerWhite d-flex justify-content-center" *ngIf="loading">
          <mat-spinner class="text-center" [diameter]="24" class="float-left mr-2"></mat-spinner>
        </span>
        <span *ngIf="!loading">Enviar instrucciones</span>
      </button>
    </div>

  </div>


  <div class="text-center" *ngIf="avisoSuccess">
    <i-tabler class="text-success mb-2" name="circle-check" style="width: 72px; height: 72px; stroke-width: 0.75;"></i-tabler>
    <p class="small text-success-emphasis">Se enviaron las inctrucciones a <span class="fw-bold">{{email.value}}</span>. No olvides revisar tu carpeta de SPAM.</p>
  </div>

  <div class="text-center" *ngIf="avisoError">
    <i-tabler class="text-danger mb-2" name="exclamation-circle" style="width: 72px; height: 72px; stroke-width: 0.75;"></i-tabler>
    <p class="small text-danger-emphasis">Ocurrió un error, por favor inténtalo nuevamente.</p>
  </div>

  
    

</div>