<div class="vh-100 bg-primary" *ngIf="loader">
  <div class="d-flex justify-content-center align-items-center h-100">
    <span class="mySpinnerNegocio">
      <mat-spinner diameter="36"></mat-spinner>
    </span>
  </div>
</div>


<div *ngIf="negocio">

  <!-- <div class="backLoaderNegocio vh-100" [style.background-image]=" 'url(' + negocio.imageIntro + ')' ">
    <div class="d-flex justify-content-center align-items-center h-100 px-3">
      <div class="text-center px-2">
        <div class="px-4">
          <img [src]="negocio.logo" alt="" width="100%">
        </div>
        <p class="text-white fw-light my-4 small">{{negocio.descripcionNegocio}}</p>
        <div class="d-grid">
          <button class="btn btn-light shadow" (click)="goToCarta()">VER LA CARTA</button>
        </div>
      </div>
    </div>
  </div> -->


  <div>

    <div class="bg-primary">

      <div class="container py-3 py-md-4 py-md-4 text-white">

        <div class="d-flex justify-content-between align-items-center">

          <div class="">
            <div>
              <p class="h2 mb-1">{{negocio.nombre}}</p>
              <p class="small fw-light mb-0 lh-sm text-white-50">{{negocio.direccion}}</p>
            </div>
          </div>


          <div class="d-flex">

            <!-- <div class="col">
              <a mat-icon-button href="https://www.instagram.com/aulitacafe" target="blank">
                <i-tabler name="brand-instagram" class="iconHeader"></i-tabler>
              </a>
            </div>

            <div class="col">
              <a mat-icon-button href="https://www.facebook.com/aulitacusco" target="blank">
                <i-tabler name="brand-facebook" class="iconHeader"></i-tabler>
              </a>
            </div> -->

            <div class="col" *ngFor="let red of negocio.redes">
              <a mat-icon-button [href]="red.url" target="blank">
                <i-tabler name="brand-instagram" class="iconHeader"></i-tabler>
              </a>
            </div>

            <div class="col">
              <button mat-icon-button (click)="openShare()">
                <i-tabler name="share" class="iconHeader"></i-tabler>
              </button>
            </div>

          </div>


        </div>

      </div>

    </div>

    <div class="bg-light py-3">
      <div class="container pe-0" *ngIf="itemsDestacados.length > 0">
        <p class="h3">Lo más pedido</p>
        <swiper [config]="config">
          <ng-template swiperSlide *ngFor="let item of itemsDestacados">
            <app-card-item-destacado [idNegocio]="id" [item]="item"></app-card-item-destacado>
          </ng-template>
          <div class="swiper-pagination"></div>
        </swiper>
      </div>
    </div>



    <div class="container py-3">
      <p class="h3">Carta</p>

      <mat-tab-group>
        <mat-tab [label]="group.categoria" *ngFor="let group of itemsGroup">
          <div class="grillaItems py-3 px-2">
            <app-card-item *ngFor="let item of group.items" [idNegocio]="id" [item]="item"></app-card-item>
          </div>
        </mat-tab>
      </mat-tab-group>

      <!-- <mat-accordion [multi]="true">
        <mat-expansion-panel *ngFor="let group of itemsGroup; let i = index" expanded="i">
          <mat-expansion-panel-header>
            <p class="h4 fw-light mb-0">{{group.categoria}}</p>
          </mat-expansion-panel-header>
          <div class="grillaItems ps-3">
            <app-card-item *ngFor="let item of group.items" [idNegocio]="id" [item]="item"></app-card-item>
          </div>
        </mat-expansion-panel>
      </mat-accordion> -->

    </div>

  </div>


</div>