<div class="position-relative">

  <div class="d-flex justify-content-between">

    <div class="">
      <p class="nombreItem mb-1 lh-sm">{{item.nombre}}</p>
      <p class="descripcionItem mb-1" *ngIf="item.descripcion">{{item.descripcion | slice:0:28}}...</p>
      
      <!-- <span class="me-2" [ngClass]=" !item.precioDescuento ? 'text-decoration-line-through small text-muted' : 'precioItem' " *ngIf="item.precioDescuento">S/. {{item.precioDescuento}}</span>
      <span [ngClass]=" item.precioDescuento ? 'text-decoration-line-through small text-muted' : 'precioItem' " >S/. {{item.precio}}</span> -->

      <div class="d-flex justify-content-start align-items-center">

        <div *ngIf="item.tipoPrecio === 'Individual' ">
          <span class="fw-bold small">S/. {{item.precio}}</span>
        </div>
    
        <div *ngIf="item.tipoPrecio === 'Múltiple' ">
          <span class="text-muted extraSmall me-1">Desde</span>
          <span class="fw-bold small">S/. {{precioMin}}</span>
        </div>

        <div class="ms-2" *ngIf="negocio">
          <p class="extraSmall text-muted mb-0" *ngFor="let regla of negocio.reglas | slice:0:1">({{regla}})</p>
        </div>

      </div>

    </div>

    <div class="contenedorImage ms-2">

      <div class="loader imageItem border" *ngIf="loader">
        <div class="d-flex justify-content-center align-items-center h-100">
          <span class="mySpinnerDark" >
            <mat-spinner diameter="24"></mat-spinner>
          </span>
        </div>
      </div>

      <div class="image">
        <img class="imageItem shadow" [src]="item.image || negocio?.imageLogo || 'https://firebasestorage.googleapis.com/v0/b/qrcode-3b121.appspot.com/o/imagePhoto.jpg?alt=media&token=0288065f-7ae4-4322-a6b3-7be67a74fa7c' " (load)="detectarCargado()">
      </div>

    </div>

  
    

    

   
    <!-- <a type="button" class="stretched-link" (click)=" openBottomSheetDetalle(item)"></a> -->

  </div>
  <a class="stretched-link" [routerLink]="'item/' + item.id"></a>
</div>
