<div class="rounded-3 position-relative">

  <img class="imageItemDestacado border rounded-3 shadow-sm" [src]="item.image || 'assets/images/imageFakerCamara.png'" *ngIf="item.image">

  <div class="bg-white d-flex justify-content-center align-items-center imageItemDestacado rounded-3 shadow-sm" *ngIf="!item.image">
    <i-tabler class="opacity-25" name="camera-plus" style="width: 86px; height: 86px; stroke-width: 0.65;"></i-tabler>
  </div>

  <p class="nombreItemDestacado mb-1 mt-2">{{item.nombre}}</p>

  <div class="fw-normal" *ngIf="negocio">

    <div *ngIf="unico">
      <span class="">{{negocio.moneda}} {{item.precio}}</span>
    </div>
  
    <div *ngIf="variable">
      <span class="">{{negocio.moneda}} {{precioMin}}</span>
    </div>

  </div>

 

  <a class="stretched-link" [routerLink]="'item/' + item.id"></a>

</div>