
<!-- <div *ngIf="negocio">
  <app-header-admin [negocio]="negocio"></app-header-admin>
</div>

<div class="bg-white">
  <nav mat-tab-nav-bar class="container" [tabPanel]="tabPanel" mat-stretch-tabs="false">
    <a mat-tab-link #rla="routerLinkActive" *ngFor="let link of links; let i=index" [routerLink]="link.url" routerLinkActive="active" [active]="rla.isActive" >{{link.nombre}}
    </a>
  </nav>
</div>


<div #tabPanel class="">
  <div class="container py-4 py-md-5 pb-6 pb-md-9">
    <router-outlet></router-outlet> 
  </div>
</div>

<app-footer-admin></app-footer-admin> -->






<mat-drawer-container>

  <mat-drawer class="position-fixed" #drawer [fixedInViewport]="true" mode="side" opened>
    <app-menu-admin [user]="user"></app-menu-admin>
  </mat-drawer>

  <mat-drawer-content>
    <!-- <app-header></app-header> -->
    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
  </mat-drawer-content>

</mat-drawer-container>
