<div class="d-none" *ngIf="qrCodeData">
  <qrcode [qrdata]="qrCodeData" [width]="400" [errorCorrectionLevel]="'M'"></qrcode>
</div>

<!-- <div class="buttonClose">
  <button mat-icon-button (click)="cancelar()">
    <mat-icon>close</mat-icon>
  </button>
</div> -->

<div class="">

  <p class="lead">Código QR</p>


  <div *ngIf="!qrCodeImage">
    
    <p>Genera un código QR para tu tienda y compártelo con quien quieras.</p>
    <div class="mt-3" style="width: 200px">
      <div class="d-grid">
        <button class="btn btn-primary" (click)="createQrCode()">
          <span class="d-flex justify-content-center myColorSpinnerWhite" *ngIf="loading">
            <mat-spinner class="" [diameter]="24"></mat-spinner>
          </span>
          <span *ngIf="!loading">Generar código QR</span>
        </button>
      </div>
    </div>
  
  </div>


  <div *ngIf="qrCodeImage">
    <div class="row gx-md-5 gy-3">
      <div class="col-lg-6">
        <div class="contenedorImage" >
          <div class="loader imageItemAdmin rounded w-100" *ngIf="loadingQr">
            <div class="d-flex justify-content-center align-items-center h-100">
              <span class="mySpinnerDark" >
                <mat-spinner diameter="36"></mat-spinner>
              </span>
            </div>
          </div>
          <div class="image">
            <img class="" [ngClass]=" {'border': !loadingQr} " [src]="negocio.qrCodeImage" (load)="detectarCargado()" width="100%">
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <!-- <p class="lead">Comparte tu código QR</p> -->
        <div class="d-flex py-1" *ngFor="let item of opciones">
          <span>
            <i-tabler name="check" class="me-2 text-success" style="width: 20px;"></i-tabler>
          </span>
          <span class="mt-1">{{item}}</span>  
        </div>
        <!-- <div class="d-grid d-md-flex gap-2 mt-3">
          <button class="btn btn-primary">Copiar QR</button>
          <button class="btn btn-outline-primary">Descargar QR</button>
        </div> -->
      </div>

    </div>
   
  </div>


</div>