<div class="mb-3">

  <p class="lead">Imágenes</p>


  <input class="d-none" type="file" id="formFileMultiple" multiple (change)="getFileDetails($event)" accept="image/png, image/jpeg, image/jpg">


  <div class="grillaImagesItemsPreview mb-3" cdkDropList (cdkDropListDropped)="drop($event)">

    <div class="position-relative" *ngFor="let item of fotosFirestore; let i = index" cdkDrag>
      <img class="imageItemPreview rounded border" [src]="item.urlImage" alt="">
      <div class="buttonDeleteImageItem">
        <button class="btn btn-primary btn-circle-xs" (click)="deleteImageFromFirebase(item)">
          <i-tabler name="trash"></i-tabler>
        </button>
      </div>
      <p class="extraSmall mb-0">{{item.id}}</p>
      <p>{{item.order}}</p>
    </div>

    <div *ngFor="let item of fotos; let i = index">
      <div class="h-100 rounded" style="background-size: cover;" [ngStyle]=" { 'background-image': 'url(' + item.imgUrl + ')' }">
        <div class="d-flex justify-content-center align-items-center bg-white bg-opacity-50 rounded h-100">
          <mat-progress-spinner color="primary" mode="determinate" [value]="item.progreso" diameter="48">
          </mat-progress-spinner>
        </div>
      </div>
    </div>
 
    <button class="p-0 border-0 bg-white" (click)="getFileDetails($event)" type="button" *ngIf="maxButton">
      <div class="d-flex justify-content-center align-items-center buttonDotted rounded">
        <i-tabler name="plus" class="text-primary"
          style="width: 48px; height: 48px; stroke-width: 1.5; stroke-linecap: square;"></i-tabler>
      </div>
    </button>

  </div>



  <!-- <div class="d-flex align-items-center mb-2 text-danger gap-2" *ngIf="maxFotos">
    <i-tabler name="alert-triangle"></i-tabler>
    <p class="small mb-0">Máximo 8 fotos</p>
  </div> -->

  

  <div class="alert alert-danger d-flex align-items-center gap-2" *ngIf="maxFotos">
    <i-tabler name="alert-triangle"></i-tabler>
    <p class="small mb-0">Máximo 8 fotos</p>
  </div>

  <!-- <ul class="small text-muted">
    <li *ngFor="let item of lista">{{item}}</li>
  </ul> -->

  <div class="d-flex gap-1 small text-muted align-items-center" *ngFor="let item of lista">
    <i-tabler name="point-filled" style="width: 12px;"></i-tabler>
    <p class="mb-0">{{item}}</p>
  </div>

</div>


<!-- <button class="btn btn-outline-primary" (click)="uploadFilesItem()">
  <span *ngIf="!loading">Subir imágenes</span>
  <span class="d-flex justify-content-center spinnerDark" *ngIf="loading">
    <mat-spinner [diameter]="24"></mat-spinner>
  </span>
</button> -->






<!-- <table class="table table-dark mb-0 mt-3 mt-md-4" *ngIf="fotos.length >= 1 && !avisoSuccess">
  <tbody>
    <tr class="align-middle" *ngFor="let file of fotos; let i = index">
      <td>{{file.name}}</td>
      <td>{{file.type}}</td>
      <td>{{file.size / 1024 | number:'2.1-2'}} KB</td>
      <td>
        <button class="btn btn-dark btn-circle" (click)="removeItem($event, i)">
          <span>
            <i-tabler name="trash"></i-tabler>
          </span>
        </button>
      </td>
    </tr>
  </tbody>
</table> -->


    <!-- <div class="buttonDeleteImageItem">
        <button class="btn btn-primary btn-circle-xs" (click)="removeItem($event, i)">
          <i-tabler name="x"></i-tabler>
        </button>
      </div> -->