<div class="bgBannerHome">

  <div class="container">

    <div class="row justify-content-between align-items-center">

      <div class="col-md-5">

        <div class="text-center text-md-start mt-4 mt-md-0">
          <p class="display-4">Crea tu tienda en línea gratis!</p>
          <p class="lead">¿Vendes algo? Muestra a tus clientes tu catálogo de productos</p>
          <div class="d-inline-flex flex-column flex-md-row">
            <a class="btn btn-primary shadow btn-lg" routerLink="/registro">Empieza gratis</a>
          </div>
        </div>

      </div>

      <div class="col-md-6">

        <div class="mt-3 mt-md-0">
          <img class="imgBanner" src="https://firebasestorage.googleapis.com/v0/b/qrcode-3b121.appspot.com/o/home%2FphoneCommerce.png?alt=media&token=a4ed52bc-bd61-4d16-9590-14b1febe8352" alt="">
        </div>

      </div>

    </div>

  </div>

</div>






<div class="container py-5 py-md-6">
  <p class="h1 fw-light mb-5 mb-md-6">Funciones</p>
  <div class="grillaCaracteristicas">
    <div class="d-flex flex-row flex-md-column px-2" *ngFor="let item of caracteristicas">
      <div class="mb-3 me-3">
        <img class="imageCaracteristica rounded-circle" [src]="item.image" alt="">
      </div>
      <div>
        <p class="h5">{{item.titulo}}</p>
        <p class="small text-muted">{{item.descripcion}}</p>
      </div>
    </div>
  </div>
</div>


<div class="bg-success py-5 py-md-7">
  <div class="d-flex justify-content-center">
    <div class="text-center">
      <p class="h1 mb-4">¿Dudas?</p>
      <p class="lead">Llámanos o escríbenos</p>
  
     
        <div class="d-flex gap-2 flex-column flex-md-row">
          <a class="btn btn-outline-dark" href="tel:999905016" target="_blank">
            <i-tabler class="me-1" name="phone"></i-tabler>
            999 905 016</a>
          <a class="btn btn-outline-dark" href="https://wa.me/51999905016" target="_blank">
            <i-tabler class="me-1" name="brand-whatsapp"></i-tabler>
            WhatsApp</a>
        </div>
    </div>
  
    

  </div>
</div>
