<div class="container py-4 py-md-6">
  <div class="col-md-5 mx-auto">
    <div class="text-center mb-3 mb-md-4">
      <!-- <img src="https://firebasestorage.googleapis.com/v0/b/turibus-59f94.appspot.com/o/logoTuribus.svg?alt=media&token=4cab1ad7-f431-4cff-b370-029c3ba439ba" width="260px"> -->
      <p class="h1">Admin</p>
    </div>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" novalidate class="row">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="errorEmail()">{{errorEmail()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon class="text-muted">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="errorPassword()">{{errorPassword()}}</mat-error>
      </mat-form-field>
      <div class="d-grid mt-3">
        <button type="submit" class="btn btn-primary">
          <span class="myColorSpinnerWhite d-flex justify-content-center" *ngIf="deshabilitado">
            <mat-spinner class="text-center" [diameter]="24" class="float-left mr-2"></mat-spinner>
          </span>
          <span *ngIf="!deshabilitado">Ingresar</span>
        </button>
      </div>
    </form>
  </div>
</div>