<div class="">
  <div class="row" *ngIf="negocio">
    <div class="col-md-8">
      <div class="row gy-3 gy-md-5">
        <app-configurar-negocio [negocio]="negocio"></app-configurar-negocio>
        <app-logo-negocio [negocio]="negocio"></app-logo-negocio>
        <app-qr-code [negocio]="negocio"></app-qr-code>
      </div>
      
    </div>
    <div class="col-md-4">
      <div *ngFor="let option of opciones; last as last">
        <button class="encima" mat-menu-item (click)="option.function(negocio)">
          <i-tabler class="me-2" [name]="option.icon"></i-tabler>
          <span class="ms-2">{{option.nombre}}</span>
        </button>
        <mat-divider *ngIf="!last"></mat-divider>
      </div>
    </div>
  </div>
</div>








