

  <div class="cardConfig" *ngIf="user">

    <p class="lead">Cambiar contraseña</p>

    <p class="">Te enviaremos un enlace a tu correo: <strong>{{user.email}}</strong> con las instrucciones para actualizar tu contraseña.</p>

    <div class="text-end">
      <button class="btn btn-primary btn-sm text-uppercase" (click)="cambiarContrasenia(user.email)">
        <span class="spinnerOutlinePrimary d-flex justify-content-center" *ngIf="loading">
          <mat-spinner class="text-center" [diameter]="24" class="float-left mr-2"></mat-spinner>
        </span>
        <span *ngIf="!loading">Enviar instrucciones</span>
      </button>
    </div>
  </div>

  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="aviso">
    <strong>Listo {{user.displayName}}!</strong> Hemos enviado las instrucciones a tu correo. Recuerda revisar tu bandeja de SPAM.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
