
<div class="cardConfig">
  <p class="h5">Plan</p>

  <p>Tu plan actual es el <strong>{{planActual}}</strong>, disfruta de todas estas características gratis siempre:</p>
  <div *ngFor="let caracateristica of caracteristicasPlan" class="d-flex my-1">
    <span><i-tabler name="check" class="me-2" style="width: 20px;"></i-tabler></span>
    <span class="small pt-1">{{caracateristica}}</span>
  </div>
  <div class="mt-3 mt-md-4">
    <a class="btn btn-primary" routerLink="/admin/elegirPlan">Mejora tu plan</a>
  </div>
  
</div>