<div class="cardConfig">

  <p class="lead">Link de tu tienda</p>

  <mat-form-field appearance="outline" class="col-12 d-none" >
    <input matInput disabled [value]="urlShare" readonly>
  </mat-form-field>

  
  <div class="d-flex gap-2">

    <div class="bg-white rounded-1 px-3 py-3 py-md-0 d-flex align-items-center w-100">
      <a class="small text-break" [href]="urlShare" target="blank">{{urlShare}}</a>
    </div>

    <div class="d-grid flex-md-shrink-0">
        <button class="btn btn-primary" [cdkCopyToClipboard]="urlShare" (click)="hecho()">
          <i-tabler name="copy"></i-tabler>
        </button>

    </div>
  
 

  </div>

  
</div>