<div class="">


  <div class="d-flex align-items-center gap-2 mb-3 mb-md-4">
    <a routerLink="/admin/productos">
      <i-tabler name="arrow-left"></i-tabler>
    </a>
    <p class="h4 mb-0">Crear item</p>
  </div>



  <div class="row">

    <div class="col-md-6">

      <app-upload-images [itemId]="itemId" (maxNumFiles)="getMaxNumFotos($event)"></app-upload-images>


      <form [formGroup]="formItem" (submit)="onSubmit()" novalidate class="row gx-3">

        <p class="lead">Información</p>

      
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" formControlName="nombre">
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Descripción</mat-label>
          <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="8" formControlName="descripcion"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Categoría</mat-label>
          <!-- <input matInput type="text" formControlName="categoria"> -->
          <mat-select formControlName="categoria">
            <mat-option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</mat-option>
            <mat-option (click)="openModalCrearCategoriaItem()">
              <span class="text-primary">+ Agregar categoría</span>
              </mat-option>
          </mat-select>
        </mat-form-field>


        <p class="lead mt-3">Precio</p>

        <mat-radio-group formControlName="tipoPrecio" class="mb-3">
          <mat-radio-button *ngFor="let tipo of tipoPrecio" [value]="tipo" class="me-4">{{tipo}}</mat-radio-button>
        </mat-radio-group>

        <div class="col-12" *ngIf="individual">
          <div class="row gx-3">
            <mat-form-field appearance="fill" class="col-12">
              <mat-label>Precio</mat-label>
              <span matPrefix>S/. &nbsp;</span>
              <input matInput type="number" formControlName="precio">
            </mat-form-field>
            <!-- <mat-form-field appearance="fill" class="col-6">
              <mat-label>Precio descuento</mat-label>
              <input matInput type="number" formControlName="precioDescuento">
              <span matPrefix>S/. &nbsp;</span>
            </mat-form-field> -->
          </div>
        </div>

        <div *ngIf="multiple" class="">
          <div formArrayName="precios" class="col-12">
            <div *ngFor="let precio of formItem.controls['precios']['controls']; let i = index;">
              <div [formGroupName]="i" class="d-flex">
                <div class="row gx-3 w-100">
                  <mat-form-field appearance="fill" class="col-8">
                    <mat-label>Variante</mat-label>
                    <input matInput type="text" formControlName="variante">
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="col-4">
                    <mat-label>Precio</mat-label>
                    <span matPrefix>S/. &nbsp;</span>
                    <input matInput type="number" formControlName="precio">
                  </mat-form-field>
                  <!-- <mat-form-field appearance="fill" class="col-6">
                      <mat-label>Precio descuento</mat-label>
                      <span matPrefix>S/. &nbsp;</span>
                      <input matInput type="number" formControlName="precioDescuento">
                    </mat-form-field> -->
                </div>
                <div class="pt-1">
                  <button class="ms-2" matSuffix mat-icon-button (click)="eliminarPrecio(i)" [disabled]="i === 0">
                    <!-- <mat-icon>close</mat-icon> -->
                    <i-tabler name="trash"></i-tabler>
                  </button>
                </div>
                <!-- <div class="buttonClose">
                    <button mat-icon-button (click)="eliminarPrecio(i)" [disabled]="i === 0">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div> -->
              </div>
            </div>
          </div>

          <div class="col-12 mb-3 mb-md-5">
            <button type="button" class="btn btn-light btn-sm px-2" (click)="agregarPrecio()">
              <i-tabler name="plus" class="me-1" style="width: 18px; height: 18px;"></i-tabler>
              Agregar variante
            </button>
          </div>
        </div>



        <div class="d-grid mt-3">
          <button class="btn btn-primary myButton">
            <span class="d-flex justify-content-center myColorSpinnerWhite" *ngIf="loading">
              <mat-spinner class="" [diameter]="24"></mat-spinner>
            </span>
            <span *ngIf="!loading">Crear item</span>
          </button>
        </div>

      </form>

    </div>


  </div>
</div>