<div class="p-4">

  <!-- <span class="d-flex justify-content-center spinnerDark">
    <mat-spinner class="" [diameter]="36"></mat-spinner>
  </span> -->

  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="text-center">
    <i-tabler class="text-success mb-2" name="circle-check" style="width: 81px; height: 81px; stroke-width: 1; stroke-linecap: square;"></i-tabler>
    <p class="text-success-emphasis mb-0">Cambios guardados</p>
  </div>

</div>