  <!-- <div class="" *ngIf="negocio">

    <div class="">

      <div class="container">

        <div class="d-flex justify-content-between align-items-center py-3">

          <div class="d-flex align-items-center">
            <button class="me-1" mat-icon-button [routerLink]=" '/admin/' ">
              <i-tabler name="arrow-left"></i-tabler>
            </button>
            <p class="h3 mb-0">{{negocio.nombre}}</p>
          </div>
          
          <div>
             <button mat-icon-button [matMenuTriggerFor]="menu">
              <i-tabler name="dots-vertical" class="iconTablerLg"></i-tabler>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let option of opciones" (click)="option.function(negocio)">
                <i-tabler [name]="option.icon"></i-tabler>
                <span class="ms-2">{{option.nombre}}</span>
              </button>
            </mat-menu>
          </div>

        </div>


        <div class="row gx-md-6 gy-4">

          <div class="col-md-6">
            <div class="grillaOpciones">
              <button class="btn btn-outline-primary" *ngFor="let option of opciones | slice:0:4" (click)="option.function(negocio)">
                <div class="d-flex flex-column justify-content-center py-1 py-md-2">
                  <span class="mb-3 mb-md-4">
                    <i-tabler [name]="option.icon" class="iconOptionDetalleNegocio"></i-tabler>
                  </span>
                  <span class="lh-sm small">{{option.nombre}}</span>
                </div>
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div *ngFor="let option of opciones | slice:4:50; last as last">
              <button class="encima" mat-menu-item (click)="option.function(negocio)">
                <i-tabler class="me-2" [name]="option.icon"></i-tabler>
                <span class="ms-2">{{option.nombre}}</span>
              </button>
              <mat-divider *ngIf="!last"></mat-divider>
            </div>
          </div>

        </div>        

      </div>
    </div>

  </div> -->





  <!-- <div class="sticky-top shadow-sm" *ngIf="negocio">
    <div class="container d-flex justify-content-between align-items-center py-3 py-md-4 bg-white">

      <div class="d-flex align-items-center">
        <button class="me-2" mat-icon-button [routerLink]=" '/admin/' ">
          <i-tabler name="arrow-left"></i-tabler>
        </button>
        <p class="h3 mb-0">{{negocio.nombre}}</p>
      </div>

      <button mat-mini-fab color="primary" (click)="agregarItem()" class="d-block d-md-none">
        <i-tabler name="plus"></i-tabler>
      </button>

      <div class="d-none d-md-inline-flex gap-2">
  
        <button class="btn btn-outline-primary btn-sm" (click)="agregarItem()">
          <i-tabler name="plus"></i-tabler>
          <span class="ms-1 d-none d-md-inline-block">Agregar producto</span>
        </button>

      </div>
    </div>
</div> -->





<div class="container">

  <mat-tab-group [@.disabled]="true">
    <mat-tab label="Productos">
    <app-lista-items></app-lista-items>
    </mat-tab>
    <mat-tab label="Configuración">
      <app-configuracion></app-configuracion>
      </mat-tab>
  </mat-tab-group>

</div>

