
<div class="bg-white" *ngIf="user && negocio">
	<div class="container">
		<div class="py-3 d-flex justify-content-between align-items-center">

			<a class="h4 mb-0 text-dark" [routerLink]=" '/admin/productos' ">
				{{negocio.nombreNegocio}}
      </a>


			<div class="d-flex align-items-center">

        <a class="btn btn-link btn-sm me-2" [href]="urlTienda" target="_blank">
          <i-tabler name="building-store"></i-tabler>
          <span class="ms-1 d-none d-md-inline-block">Ver tienda</span>
        </a>

        <button class="btn btn-outline-primary btn-sm me-2">
          <i-tabler name="rocket"></i-tabler>
          <span class="ms-1 d-none d-md-inline-block">Mejorar plan</span>
        </button>

				<div class="text-end mx-2 d-none d-md-block">
					<p class="fw-normal d-block mb-0">{{user.displayName}}</p>
					<!-- <p class="extraSmall mb-0">{{user.email}}</p> -->
				</div>
				
				<!-- <button class="photoUser" [matMenuTriggerFor]="menu">
						<img class="" src="https://media-exp1.licdn.com/dms/image/C5603AQETYOc7RHHB9Q/profile-displayphoto-shrink_200_200/0/1517498194143?e=1661990400&v=beta&t=9oQl4SMZUmgpperLo9voBNSEFV8YxJcXup-6XRV0khM" alt="">
				</button> -->

				<button mat-icon-button [matMenuTriggerFor]="menu">
					<i-tabler name="dots-vertical"></i-tabler>
				</button>
				<mat-menu #menu="matMenu">
					<!-- <div class="">
						<button mat-menu-item>{{user.email}}</button>
						<mat-divider></mat-divider>
					</div> -->
					<button mat-menu-item (click)="item.function()" *ngFor="let item of linksAdmin">
						<i-tabler [name]="item.icon" class="me-2 text-muted"></i-tabler>
						<span>{{item.nombre}}</span>
					</button>
				</mat-menu>

			</div>

      
		</div>
	</div>
</div>


<!-- <div class="">
	<div class="container">
		<div class="d-flex justify-content-center small">
			<span class="text-muted me-1">Vende por WhatsApp</span> <a routerLink="/admin/plan">Cambiar a Plan Power</a>
		</div>
	</div>
</div> -->