<!-- <div class="bg-light">
  <div class="container py-3 py-md-4">
    <a class="text-dark lead" routerLink="/admin/listaNegocios">Admin qrCode</a>
  </div>
</div> -->

<div class="bg-light" *ngIf="user">
	<div class="container">
		<div class="py-2 py-md-3 d-flex justify-content-between align-items-center">

			<a class="lead mb-0" routerLink="/admin">
				<img class="logoTaaripayAdmin" src="https://firebasestorage.googleapis.com/v0/b/qrcode-3b121.appspot.com/o/home%2FlogoTaaripay.svg?alt=media&token=de2c5381-9d52-4aac-a6c3-7fd77ce026c0" alt="">
      </a>


			<div class="d-flex align-items-center" >
				<p class="mb-0 me-2">{{user.displayName || user.email}}</p>
				<!-- <button class="photoUser" [matMenuTriggerFor]="menu">
						<img class="" src="https://media-exp1.licdn.com/dms/image/C5603AQETYOc7RHHB9Q/profile-displayphoto-shrink_200_200/0/1517498194143?e=1661990400&v=beta&t=9oQl4SMZUmgpperLo9voBNSEFV8YxJcXup-6XRV0khM" alt="">
				</button> -->
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<i-tabler name="dots-vertical"></i-tabler>
				</button>
				<mat-menu #menu="matMenu">
					<!-- <div class="">
						<button mat-menu-item>{{user.email}}</button>
						<mat-divider></mat-divider>
					</div> -->
					<button mat-menu-item (click)="item.function()" *ngFor="let item of linksAdmin">
						<i-tabler [name]="item.icon" class="me-2 text-muted"></i-tabler>
						<span>{{item.nombre}}</span>
					</button>
				</mat-menu>
			</div>

      
		</div>
	</div>
</div>


<!-- <div class="">
	<div class="container">
		<div class="d-flex justify-content-center small">
			<span class="text-muted me-1">Vende por WhatsApp</span> <a routerLink="/admin/plan">Cambiar a Plan Power</a>
		</div>
	</div>
</div> -->