<div class="col-md-7">

  <p class="h5 fw-normal mb-3">Categorías</p>

  <!-- <div class="table-responsive" cdkDropList (cdkDropListDropped)="drop($event)">

    <table class="bg-light" mat-table [dataSource]="categorias">

      <ng-container matColumnDef="changeOrder">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let item">
          <button class="handle" mat-icon-button cdkDragHandle>
            <i-tabler name="grip-vertical"></i-tabler>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Orden</th>
        <td mat-cell *matCellDef="let item">{{item.order}}</td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let item">{{item.nombre}}</td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Editar</th>
        <td mat-cell *matCellDef="let item">
          <button class="btn btn-light btn-sm text-primary">Editar</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar</th>
        <td mat-cell *matCellDef="let item">
          <button class="btn btn-light btn-sm text-danger btn-circle-sm">
            <i-tabler name="trash"></i-tabler>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag></tr>

    </table>

  </div> -->






  <div class="row gy-1 list mb-3" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="col-12" *ngFor="let categoria of categorias" cdkDrag>
      <div class="d-flex justify-content-between bg-white border rounded py-1 px-2">
        <div class="d-flex gap-2 align-items-center">
          <button class="handle" mat-icon-button cdkDragHandle>
            <i-tabler name="grip-vertical"></i-tabler>
          </button>
          <div>
            <p class="mb-0">{{categoria.nombre}}</p>
            <p class="extraSmall text-muted mb-0">Usado en {{categoria.size}} ítems</p>
          </div>
        </div>
        <div class="d-flex gap-1">
          <button mat-icon-button (click)="openModalEditCategoria(categoria)">
            <i-tabler class="text-primary" name="pencil"></i-tabler>
          </button>
          <button mat-icon-button (click)="openModalDeleteCategoria(categoria)">
            <i-tabler class="text-danger" name="trash"></i-tabler>
          </button>
        </div>
      </div>
    </div>
  </div>

  <a class="btn-sm btn btn-link" (click)="openModalAddCategoria()">
    <i-tabler name="plus" class="me-1"></i-tabler>
    Agregar categoría
  </a>







  <!-- <form [formGroup]="formCategorias" (submit)="onSubmit()" novalidate class="row gx-2">

  <div formArrayName="categorias" class="col-12">
    <div *ngFor="let precio of formCategorias.controls['categorias']['controls']; let i = index;" class="d-flex">

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Categoría {{i+1}}</mat-label>
        <input matInput [formControlName]="i" type="text">
      </mat-form-field>

    </div>
  </div>

  <div class="col-12 mb-3 mb-md-5">
    <button type="button" class="btn btn-link btn-sm px-0" (click)="agregarCategoria()">
      <i-tabler name="plus" class="me-1" style="width: 18px; height: 18px;"></i-tabler>
      Agregar categoría
    </button>
  </div>

  <div style="width: 200px;">
    <div class="d-grid">
      <button class="btn btn-outline-primary">
        <span class="d-flex justify-content-center myColorSpinnerWhite" *ngIf="loading">
          <mat-spinner class="" [diameter]="24"></mat-spinner>
        </span>
        <span *ngIf="!loading">Guardar categorías</span>
      </button>
    </div>
  </div>

</form> -->

</div>