<p class="h3">Código QR</p>

<div class="buttonClose">
  <button mat-icon-button (click)="cancelar()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="d-flex justify-content-center align-items-center" style="height: 327px;">

    <span class="mySpinnerDark" *ngIf="loader">
      <mat-spinner diameter="36"></mat-spinner>
    </span>

    <div>
      <img [src]="data.qrCodeImage" (load)="detectarCargado()" width="100%" height="auto">
    </div>
  
</div>

<div class="d-grid">
  <button class="btn btn-primary" [cdkCopyToClipboard]="data.qrCodeImage">Copiar imagen</button>
</div>



