<p class="h3">Código QR</p>

<div class="buttonClose">
  <button mat-icon-button (click)="cancelar()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="d-flex justify-content-center align-items-center">

    <span class="mySpinnerDark my-4" *ngIf="loader">
      <mat-spinner diameter="36"></mat-spinner>
    </span>

    <div class="">
      <img [src]="data.qrCodeImage" (load)="detectarCargado()" width="100%" height="auto">
    </div>
  
</div>

<!-- <div class="d-grid">
  <button class="btn btn-primary" [cdkCopyToClipboard]="data.qrCodeImage">Copiar código QR</button>
</div> -->