<div class="">

  <div class="container py-3">

    <!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb extraSmall">
        <li class="breadcrumb-plan"><a routerLink="/admin">Inicio</a></li>
        <li class="breadcrumb-plan"><a routerLink="/admin/plan">Plan</a></li>
        <li class="breadcrumb-plan active">Elegir Plan</li>
      </ol>
    </nav> -->

    <!-- <p class="h4 mb-4">Elige un plan</p> -->

    <div class="row justify-content-between py-3 py-md-4">


      <div class="col-md-4">
        <div class="d-flex h-100">
          <div>
            <div>
              <p class="h1 mb-3">Elige tu plan</p>
              <p class="h5 fw-light mb-3 mb-md-4 d-none d-md-block">Crea tu catálogo y brinda una imagen profesional de tu negocio a un precio realmente bajo.</p>
            </div>
            <!-- <div>
              <p class="h5">¿Necesitas ayuda?</p>
              <p class="small text-muted">Escríbenos al <a
                  href="https://api.whatsapp.com/send?phone=51999905016&text=Hola, te escribo por los planes de Taaripay"
                  target="_blank">+51 999 905 016</a></p>
            </div> -->
          </div>
        </div>
      </div>

      <div class="col-md-7">

        <div class="row g-3 g-md-4">

          <div *ngFor="let plan of planes" class="col-md-6">

            <div class="bg-white rounded p-3 p-md-4 border border-3" [ngClass]=" plan.nombre === 'Plan Power' ? 'border-primary shadow' : '' ">

              <div class="d-flex justify-content-between align-plans-center mb-3">
                <p class="h3 fw-bold mb-0">{{plan.nombre}}</p>

                <!-- <div class="offer d-flex justify-content-center align-plans-center bg-warning shadow-sm px-3 py-2"
                  *ngIf="plan.nombre === 'Plan Power'">
                  <div class="d-flex align-plans-center text-primary">
                    <span class="h3 fw-bolder mb-0 me-2">{{plan.descuento}}</span>
                    <span>DSCTO.</span>
                  </div>
                </div> -->

              </div>

              <div>

                <mat-radio-group class="" color="primary">
                  <mat-radio-button class="me-3" *ngFor="let opcion of plan.opciones" [checked]="opcion.selected" (change)="radioChange($event)" [value]="opcion.nombre">{{opcion.nombre}}</mat-radio-button>
                </mat-radio-group>

                <div class="mt-3" *ngFor="let opcion of plan.opciones">
                  <span class="h5 mb-0" *ngIf="estado === opcion.nombre ">S/ {{opcion.precio | number:'1.2-2'}} {{opcion.description}}</span>
                </div>

              </div>


              
              <p class="h5 mb-0">{{plan.subtitulo}}</p>
            

              <div class="my-3">
                <div *ngFor="let caracateristica of plan.caracteristicas" class="d-flex my-1">
                  <i-tabler name="check" class="me-2" [ngClass]=" plan.nombre === 'Plan Power' ? 'text-success' : '' ">
                  </i-tabler>
                  <span class="small pt-1">{{caracateristica}}</span>
                </div>
              </div>

              <div class="d-grid">
                <a [ngClass]=" plan.nombre === 'Plan Power' ? 'btn btn-primary shadow' : 'btn btn-outline-dark' " [href]="goToUrl(plan.nombre)" target="_blank">{{plan.nameButton}}
                  <span *ngIf="plan.nombre === 'Plan Power' ">
                    <span *ngFor="let opcion of plan.opciones">
                      <span *ngIf="estado === opcion.nombre ">{{opcion.nombre}} S/ {{opcion.precio | number:'1.2-2'}}</span>
                    </span>
                  </span>
                </a>
              </div>

              <div class="d-flex justify-content-center mt-3 mt-md-4" *ngIf="plan.nombre === 'Plan Power'">
                <div>
                  <span class="me-2 text-muted extraSmall">Paga seguro con</span>
                  <span>
                    <img class="logoMercadoPago"
                      src="https://firebasestorage.googleapis.com/v0/b/qrcode-3b121.appspot.com/o/logoMercadoPago.png?alt=media&token=0a694653-2c89-45c2-8d09-5482223a4cc3"
                      alt="">
                  </span>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      <!-- <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group> -->

      <!-- <form [formGroup]="formDatos" (ngSubmit)="onSubmit()" novalidate class="row col-md-6 mb-3">
      <mat-form-field appearance="standard" class="col-12">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="nombre">
        <mat-error *ngIf="formDatos.controls['nombre'].invalid">{{ errorNombre() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" class="col-12">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
        <mat-error *ngIf="formDatos.controls['email'].invalid">{{ errorEmail() }}</mat-error>
      </mat-form-field>
    </form> -->

      <!-- <div style="width: 200px;">
      <div class="d-grid gap-2">
        <button class="btn btn-outline-primary" (click)="onSubmit()">
          <span class="spinnerOutlinePrimary d-flex justify-content-center" *ngIf="loading">
            <mat-spinner class="text-center" [diameter]="24" class="float-left mr-2"></mat-spinner>
          </span>
          <span *ngIf="!loading">Actualizar datos</span>
        </button>
      </div>
    </div> -->


    </div>

  </div>

</div>