<div class="container py-2 py-md-5" *ngIf="negocio">

  <div class="row gx-md-6 gy-3" *ngIf="item">


    <div class="col-md-6">
      <!-- <div class="imageDetalleItem rounded" [style.background-image]=" 'url(' + item.image + ')' ">
      </div> -->
 
      <img class="imageDetalleItem rounded bg-light"  [src]="item.image" alt="" width="100%">

      
    </div>


    <div class="col-md-6">

      <div>
        <div class="d-flex justify-content-between align-items-center">
          <p class="h5 mb-0">{{item.nombre}}</p>
          <button mat-icon-button class="ms-5" (click)="compartirItem()">
            <i-tabler name="share"></i-tabler>
          </button>
        </div>
        <p class="h2 fw-bold my-2">S/. {{item.precio}}</p>
        <p class="small">{{item.descripcion}}</p>

        <a class="btn btn-primary d-none d-md-inline-block" [style.background-color]="negocio.color" [style.borderColor]="negocio.color" [href]="messageWhatsApp" target="_blank" *ngIf="negocio.numeroWhatsApp">
          <i-tabler class="me-2" name="brand-whatsApp"></i-tabler>
          <span>Pedir por WhatsApp</span>
        </a>

      </div>

      <div class="d-flex gap-2 p-2 bg-white myShadowTop d-block d-md-none fixed-bottom" style="z-index: 10;" *ngIf="negocio.numeroWhatsApp">
        <a class="btn btn-primary w-100" [style.background-color]="negocio.color" [style.borderColor]="negocio.color" [href]="messageWhatsApp" target="_blank" >
          <i-tabler class="me-2" name="brand-whatsApp"></i-tabler>
          <span>Pedir por WhatsApp</span>
        </a>
      </div>

    </div>

  </div>

</div>