<div class="container py-2 py-md-5" *ngIf="negocio">

  <div class="row gx-md-6 gy-3" *ngIf="item">


    <div class="col-md-6">
      <!-- <div class="imageDetalleItem rounded" [style.background-image]=" 'url(' + item.image + ')' ">
      </div> -->
 
      <!-- <img class="imageDetalleItem bg-light"  [src]="item.image" alt="" width="100%"> -->

      <div class="bg-light d-flex justify-content-center align-items-center" style="aspect-ratio: 1 / 1;">

        <swiper class="w-100 h-100" [config]="config" *ngIf="item.image">
          <ng-template swiperSlide *ngFor="let item of images">
            <img class="imageDetalleItem" [src]="item.urlImage">
          </ng-template>
          <!-- <div class="swiper-pagination"></div> -->
        </swiper>

        <div class="" *ngIf="!item.image">
          <i-tabler class="opacity-25" name="camera-plus" style="width: 120px; height: 120px; stroke-width: 0.5;"></i-tabler>
        </div>

      </div>

     

      
    </div>


    <div class="col-md-6">

      <div>

        <div class="d-flex justify-content-between align-items-center mb-3">
          <p class="h5 mb-0">{{item.nombre}}</p>
          <button mat-icon-button class="ms-5" (click)="compartirItem()">
            <i-tabler name="share"></i-tabler>
          </button>
        </div>

        <!-- <p class="h2 fw-bold my-2">S/. {{item.precio}}</p> -->
        <!-- <p class="small">{{item.descripcion}}</p> -->

        <div *ngIf="item.precio">
          <p class="h5 mb-0">{{negocio.moneda}} {{item.precio}}</p>
        </div>

        <div class="d-flex gap-2" *ngIf="!item.precio">
          <div class="border rounded px-3 py-2" *ngFor="let precio of item.precios">
            <span class="small">{{precio.variante}}</span>
            <p class="h5 mb-0">{{negocio.moneda}} {{precio.precio}}</p>
          </div>
        </div>

        <div class="bodyNoticia mt-3" [innerHTML]="item.body | safe: 'html' "></div>

        <a class="btn btn-primary d-none d-md-inline-block mt-3" [style.background-color]="negocio.color" [style.borderColor]="negocio.color" [href]="messageWhatsApp" target="_blank" *ngIf="negocio.numeroWhatsApp">
          <i-tabler class="me-2" name="brand-whatsApp"></i-tabler>
          <span>Pedir por WhatsApp</span>
        </a>

      </div>

      <div class="d-flex gap-2 p-2 bg-white myShadowTop d-block d-md-none fixed-bottom" style="z-index: 10;" *ngIf="negocio.numeroWhatsApp">
        <a class="btn btn-primary w-100" [style.background-color]="negocio.color" [style.borderColor]="negocio.color" [href]="messageWhatsApp" target="_blank" >
          <i-tabler class="me-2" name="brand-whatsApp"></i-tabler>
          <span>Pedir por WhatsApp</span>
        </a>
      </div>

    </div>

  </div>

</div>