<div>
  <div class="buttonClose">
    <button mat-icon-button (click)="cancelar()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <p class="h2 mb-3">Agregar condiciones</p>

  <p>Por ejemplo:</p>
  <ul class="text-muted">
    <li *ngFor="let item of lista">{{item}}</li>
  </ul>

  <form [formGroup]="formConfiguraciones" (ngSubmit)="onSubmit()" novalidate class="row gx-3">

    <div formArrayName="reglas" class="col-12">
      <div *ngFor="let precio of formConfiguraciones.controls['reglas']['controls']; let i = index;">

        <div class="d-flex align-items-center">

          <div class="row w-100">
            <mat-form-field appearance="standard">
              <mat-label>Regla {{i+1}}</mat-label>
              <input matInput type="text" [formControlName]="i" placeholder="Servicio a la habitación + S/. 5">
            </mat-form-field>
          </div>
          
          <div class="">
            <button class="ms-2" matSuffix mat-icon-button (click)="eliminarRegla(i)" [disabled]="i === 0">
              <i-tabler name="trash"></i-tabler>
            </button>
          </div>

        </div>

        

        <!-- <div [formGroupName]="i" class="d-flex">
          <div class="row gx-3">
            <mat-form-field appearance="standard" class="col-6">
              <mat-label>Variante</mat-label>
              <input matInput type="text" formControlName="variante">
            </mat-form-field>
            <mat-form-field appearance="standard" class="col-6">
              <mat-label>Precio</mat-label>
              <span matPrefix>S/. &nbsp;</span>
              <input matInput type="number" formControlName="precio">
            </mat-form-field>
          </div>
          <div class="pt-1">
            <button class="ms-2" matSuffix mat-icon-button (click)="eliminarRegla(i)" [disabled]="i === 0">
              <i-tabler name="trash"></i-tabler>
            </button>
          </div>
        </div> -->

      </div>
    </div>

    <div class="col-12 mb-3 mb-md-5">
      <button type="button" class="btn btn-light btn-sm px-2" (click)="agregarRegla()">
        <i-tabler name="plus" class="me-1" style="width: 18px; height: 18px;"></i-tabler>
        <span>Añadir regla</span>
      </button>
    </div>

    <div class="d-grid mt-3">
      <button class="btn btn-primary myButton">
        <span class="d-flex justify-content-center myColorSpinnerWhite" *ngIf="loading">
          <mat-spinner class="" [diameter]="24"></mat-spinner>
        </span>
        <span *ngIf="!loading">Guardar</span>
      </button>
    </div>

  </form>

  <!-- <pre>{{formConfiguraciones.value | json }}</pre> -->

</div>