<div class="" *ngIf="negocio">

  <!-- <p class="h5 mb-3">Logo</p> -->

  <input type="file" id="upload" (change)="getFileDetail($event)" hidden />

  <div class="d-flex gap-3 align-items-center">

    <div class="image position-relative">

      <div class="position-absolute" style="right: 0; bottom: 0;">
        <label class="btnUploadLogo shadow-sm" for="upload">
          <i-tabler name="pencil"></i-tabler>
        </label>
      </div>

      <div class="imageLogoEditAdmin rounded-circle border" style="background-size: cover;" [ngStyle]=" { 'background-image': 'url(' + fileImgUrl + ')' }" *ngIf="fileImgUrl"></div>

      <div class="imageLogoEditAdmin rounded-circle border bg-white" style="background-size: cover;"
        [ngStyle]=" { 'background-image': 'url(' + negocio?.imageLogo + ')' }" *ngIf="!fileImgUrl">
        <div class="d-flex justify-content-center align-items-center h-100" *ngIf="!negocio.imageLogo">
          <span class="h3 mb-0 fw-bold">{{negocio.nombreNegocio | slice:0:1}}</span>
        </div>
      </div>

      <!-- <div class="bg-white rounded-circle text-dark logoNegocio d-flex justify-content-center align-items-center" *ngIf="!negocio.imageLogo">
        <span class="h3 mb-0 fw-bold">{{negocio.nombreNegocio | slice:0:1}}</span>
      </div> -->

    </div>

    <div>
      <p class="mb-0">Logo</p>
      <p class="small text-muted">Usa una imagen JPG o PNG de hasta 5Mb.</p>
    </div>

  </div>


</div>