<div class="cardConfig">

<p class="h5 mb-3">Logo</p>

<!-- <div class="buttonClose">
  <button mat-icon-button (click)="cancelar()">
    <mat-icon>close</mat-icon>
  </button>
</div> -->

<form [formGroup]="formLogoNegocio" (submit)="onSubmit()" novalidate class="row gx-3 gx-md-4">

  <!-- <mat-form-field appearance="fill" class="col-12">
    <mat-label>Imagen logo</mat-label>
    <ngx-mat-file-input #removableInput formControlName="imageLogo" placeholder="Seleccionar imagen" accept=".jpg, .jpeg, .png" (change)="detectFiles($event)"></ngx-mat-file-input>
    <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-icon matSuffix *ngIf="removableInput.empty">image_search</mat-icon>
    <mat-error *ngIf="errorImagen()">{{errorImagen()}}</mat-error>
    <mat-hint>Tamaño recomendado: 240 x 240 px.</mat-hint>
    <mat-hint align="end">Peso máximo: 5 MB</mat-hint>
  </mat-form-field> -->

  
  <div class="d-flex gap-2">

    <!-- <div class="contenedorImage me-2 my-1">
      <div class="loader imageLogoEditAdmin" *ngIf="loadingLogo">
        <div class="d-flex justify-content-center align-items-center h-100">
          <span class="mySpinnerDark" >
            <mat-spinner diameter="24"></mat-spinner>
          </span>
        </div>
      </div>
      <div class="image">
        <img class="imageLogoEditAdmin p-2 rounded-circle border" [src]="negocio.imageLogo || 'assets/images/imageFakerCamara.png' " (load)="detectarCargado()">
      </div>
    </div> -->

    <div class="image">
      <img class="imageLogoEditAdmin rounded-circle border" [src]="negocio.imageLogo || 'assets/images/imageFakerCamara.png' " (load)="detectarCargado()">
    </div>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Imagen logo</mat-label> 
      <ngx-mat-file-input #removableInput formControlName="imageLogo" placeholder="Seleccionar imagen" accept=".jpg, .jpeg, .png" (change)="detectFiles($event)"></ngx-mat-file-input>
      <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-icon matSuffix *ngIf="removableInput.empty">image_search</mat-icon>
      <mat-error *ngIf="errorImagen()">{{errorImagen()}}</mat-error>
      <mat-hint>240 x 240 px.</mat-hint>
      <mat-hint align="end">Máx. 5 MB</mat-hint>
    </mat-form-field>

  </div>


  <div class="mt-4" style="width: 180px;">
    <div class="d-grid">
      <button class="btn btn-primary">
        <span class="d-flex justify-content-center myColorSpinnerWhite" *ngIf="loader">
          <mat-spinner class="" [diameter]="24"></mat-spinner>
        </span>
        <span *ngIf="!loader">Agregar logo</span>
      </button>
    </div>
  </div>


 

</form>
</div>

