<div class="border">

  <p class="h5 mb-3">Logo 2</p>

  <!-- <div class="buttonClose">
  <button mat-icon-button (click)="cancelar()">
    <mat-icon>close</mat-icon>
  </button>
</div> -->

  <form [formGroup]="formLogoNegocio" (submit)="onSubmit()" novalidate class="row gx-3 gx-md-4">


    <div class="d-flex gap-2">

      <div class="image">
        <img class="imageLogoEditAdmin rounded-circle border"
          [src]="negocio.imageLogo || 'assets/images/imageFakerCamara.png' " (load)="detectarCargado()">
      </div>

    </div>


    <div class="mt-4" style="width: 180px;">
      <div class="d-grid">
        <button class="btn btn-primary">
          <span class="d-flex justify-content-center myColorSpinnerWhite" *ngIf="loader">
            <mat-spinner class="" [diameter]="24"></mat-spinner>
          </span>
          <span *ngIf="!loader">Agregar logo</span>
        </button>
      </div>
    </div>

  </form>

  
</div>