<div class="">

  <div class="container py-3 py-md-4 d-flex justify-content-between align-items-center">

    <a routerLink="/"><img class="logoQatu" src="https://firebasestorage.googleapis.com/v0/b/qrcode-3b121.appspot.com/o/logoQatuHor.svg?alt=media&token=0dc4cb9c-e38d-4009-8250-1b4a4d6e08a2" alt="">
    </a>

    <div class="" *ngIf="!user">
      <div class="d-none d-md-block">
        <a class="btn btn-outline-dark" routerLink="/login">Ingresar</a>
        <a class="btn btn-primary ms-2" routerLink="/registro">Registro</a>
      </div>
      <div class="d-block d-md-none">
        <a class="btn btn-outline-dark btn-sm" routerLink="/login">Ingresar</a>
        <a class="btn btn-primary btn-sm ms-2" routerLink="/registro">Registro</a>
      </div>
    </div>

    <div *ngIf="user">
      
      <div class="d-flex align-items-center" >
        <p class="mb-0 me-2">{{user.displayName || user.email}}</p>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <i-tabler name="menu"></i-tabler>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="item.function()" *ngFor="let item of linksAdmin">
            <i-tabler [name]="item.icon" class="me-2 text-muted"></i-tabler>
            <span>{{item.nombre}}</span>
          </button>
        </mat-menu>
      </div>
    
    </div>

  </div>
</div>