<div class="container py-3 py-md-4">

  <div class="d-flex justify-content-between align-items-center">
    <p class="h3 mb-0">Negocios</p>
    <button class="btn btn-outline-primary btn-sm" (click)="addNegocio()">
      <i-tabler name="plus" ></i-tabler>
      <span class="ms-1">Agregar negocio</span>
    </button>
    <!-- <a class="btn btn-primary" routerLink="crearNegocio">Crear Negocio</a> -->
  </div>

  <div class="my-3 my-md-4">

    <div class="grillaNegociosAdmin">
     <app-card-negocio-admin *ngFor="let negocio of negocios" [negocio]="negocio"></app-card-negocio-admin>
    </div>

  </div>

</div>