<p class="h4 mb-3 fw-light">Activa tu plan</p>

<div class="col-md-4" *ngIf="userDoc">

  <div class="cardConfig">

    

    <div class="text-center">
      <i-tabler name="circle-check" class="text-success" style="width: 90px; height: 90px; stroke-width: 0.75;"></i-tabler>
      <p class="lead">¡Enhorabuena {{userDoc.displayName}}!</p>
      <p class="text-muted">Solo un paso más...</p>
    </div>

    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="alert">
      Tu Plan Power Mensual ha sido activado.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="d-grid">

      <button class="btn btn-primary myButton" (click)="updatePlan()" *ngIf="!alert">
        <span class="d-flex justify-content-center myColorSpinnerWhite" *ngIf="loading">
          <mat-spinner class="" [diameter]="24"></mat-spinner>
        </span>
        <span *ngIf="!loading">Activar Plan Power Mensual</span>
      </button>

      <a class="btn btn-primary myButton" routerLink="/admin" *ngIf="alert">Ir a mi Panel</a>

    </div>

  </div>

</div>