<div [style.background-color]="negocio.color" *ngIf="negocio">

  <div class="container py-3 py-md-4 py-md-4 text-white">

    <div class="d-flex justify-content-between align-items-center">

      <div class="d-flex align-items-center">

        <button class="me-2" mat-icon-button [routerLink]=" '/tienda/' + id" *ngIf="back">
          <i-tabler name="arrow-left"></i-tabler>
        </button>

        <div class="bg-white rounded-circle me-2 me-md-3" *ngIf="!back">
          <img [src]="negocio.imageLogo" class="logoNegocio p-2" *ngIf="negocio.imageLogo">
          <div class="text-dark logoNegocio d-flex justify-content-center align-items-center" *ngIf="!negocio.imageLogo">
            <span class="h3 mb-0 fw-bold">{{negocio.nombreNegocio | slice:0:1}}</span>
          </div>
        </div>

        <div class="">
          <p class="h5 mb-0">{{negocio.nombreNegocio}}</p>
          <p class="extraSmall fw-light mb-0 lh-sm opacity-75">{{negocio.direccion | slice:0:30 }}</p>
        </div>

      </div>

     

      <div class="d-flex align-items-center ms-2">

        <!-- <div class="">
          <button mat-icon-button (click)="compartirNegocio()">
            <i-tabler name="share" class="iconHeader"></i-tabler>
          </button>
        </div> -->

        <!-- <div class="">
          <a class="d-flex justify-content-center align-items-center" mat-icon-button *ngFor="let red of negocio.redes | slice:0:1" [href]="red.url" target="blank">
            <i-tabler [name]="red.icon" class="iconHeader"></i-tabler>
          </a>
        </div> -->

        <div class="">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <i-tabler name="dots-vertical"></i-tabler>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="compartirNegocio()">
              <i-tabler name="share"></i-tabler>
              <span class="ms-2">Compartir tienda</span>
            </button>
            <div *ngIf="negocio.redes">
              <div *ngIf="negocio.redes.length >= 1">
                <a mat-menu-item *ngFor="let red of negocio.redes" [href]="red.url" target="_blank">
                  <i-tabler [name]="red.icon"></i-tabler>
                  <span class="ms-2">{{red.nombre}}</span>
                </a>
              </div>
            </div>
           
          </mat-menu>
        </div>

      </div>

    </div>
  </div>
</div>